{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Form Donasi Tunai</title>
{% endblock meta %}

{% block content %}
  <div class="content mt-5 pt-5">
  {% if submitted %}
  <div class="make_center">
  	<h1 class="title">Donasi Anda Sudah Terdata!</h1>
  	<a href="/main" class="btn">Kembali ke Halaman Utama</a>
  	<a href="{% url 'donasinontunai:list_donasinontunai' %}" class="btn">Daftar Donatur</a>
  </div>
  
  {% else %}
    <h1 class="title">Form Donasi Non Tunai<br></h1>
  	<div class="form mt-5">
  		<form action="" method="POST">
		{% csrf_token %}
        <p>Nama:</p>
        <p>{{form.nama}}</p>
        <p>Alamat:</p>
	    	<p>{{ form.alamat }}</p>
        <p>Email atau No. Handphone:</p>
        <p>{{form.kontak}}</p>
        <p>Kebutuhan Logistik</p>
        <p>{{form.kebutuhan1}}</p>
        <p>Kebutuhan Lainnya(Optional)</p>
        <p>{{form.kebutuhan2}}</p>
        <p>{{form.anon}} Tampilkan sebagai donatur anonim</p>
        <br>
        <h2 class="content_list" style="text-align: center; color: #272343"><strong>Setelah mengisi form ini, <br>
          mohon konfirmasi ke kontak<br>
          di bawah ini:<br></strong></h2>
        <h2 class="content_list" style="text-align: center; color: #272343">Budi / +62 0812345678<br></h2>
        <input type="submit" value="Kirim" class="btn mt-5">
        <a href="{% url 'donasinontunai:list_donasinontunai' %}" class="btn mt-5">Daftar Donatur</a>
		</form>
  	</div>
  {% endif %}
  </div>
{% endblock content %}