{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Daftar Donatur</title>
{% endblock meta %}

{% block content %}
<div class="content mt-5 pt-5">
	<h1 class="title">Daftar Donatur</h1>
	<div class="container mt-5">
		<div class="row">
			<table class="table table-borderless text-center">
				<tr>
					<th scope="col">No</th>
					<th scope="col">Nama</th>
					<th scope="col">Kebutuhan Logistik</th>
					<th scope="col">Kebutuhan Lainnya(Optional)</th>
				</tr>
				{% for x in donatur %}
				{% if x.anon %}
				<tr>
					<td>{{forloop.counter}}</th>
					<td>Anonim</td>
					<td>{{x.kebutuhan1}}</td>
					<td>{{x.kebutuhan2}}</td>
				</tr>
				{% else %}
				<tr>
					<td>{{forloop.counter}}</th>
					<td>{{x.nama}}</td>
					<td>{{x.kebutuhan1}}</td>
					<td>{{x.kebutuhan2}}</td>
				</tr>
				{% endif %}
				{% endfor %}
			</table>
	    <a href="/donasi_nontunai" class="btn mt-5">Kembali ke Form Donasi Non Tunai</a>
		</div>
		
	</div>
  		
</div>
{% endblock content %}