/* Project-wide style */

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

body {
	background-color: #E3F6F5;
	font-family: 'Rubik', sans-serif;
}
.navbar-custom {
	background-color: #272343;
	color: white;
}
.navbar-custom .navbar-brand, .navbar-custom .navbar-text, .navbar-custom .nav-item {
	color: white;
}
.custom-toggler .navbar-toggler-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.content{
	padding-left: 5vw;
	padding-right: 5vw;
}
.title{
	color: #272343;
	text-align: center;
	font-size: 6vw;
}
h2{
	color: #272343;	
	text-align: center;
	font-size: 2.6vw;
}
.form{
	font-size: 1.6vw;
	text-align: left;
	padding-right: 10vw;
	padding-left: 10vw;
	color: #272343;	
}
.btn{
	background-color: #272343;
	border: 3px solid #272343;
	border-radius: 5px;
	color: white;
	font-size: 2vw;
	text-decoration: none;
	margin: 1vw;
	padding: 1vw;
}
.btn a:visited {
	color: white;
}
.make_center{
	text-align: center;
}
.order_list{
	font-weight: bold
}
.content_list{
	font-weight: normal;
	background-color: #BAE8E8;
	border-radius: 5px;
	padding: 1vw;
}
.before_button{
	color: #272343;
}
.fitur{
	margin: 2vw;
}
.fitur img{
	width: 120px;
}
.footer{
	padding: 2vw;
	background-color: #272343;
	color: white;
}
.footer img{
	width: 1.5vw;
}
.footer a{
	color: white;
	text-decoration: none;
}
.footer a:visited{
	color: white;
}
.flex_footer{
	display: flex;
	justify-content:space-between;
}

@media only screen and (max-width: 375px){
	body{
		width: 375px;
	}
}
@media only screen and (max-width: 475px){
	body{
		width: 475px;
	}
}
.indonesia{
	position: absolute;
	width: 250px;
	height: 175px;
	left: 125px;
	top: 169px;
}
.grafik{
	position: absolute;
	width: 200px;
	height: 200px;
	left: 620px;
	top: 157px;
}
.tutup{
	position: absolute;
	width: 258px;
	height: 216px;
	left: 1065px;
	top: 157px;
}
.rumah{
	position: absolute;
	width: 190px;
	height: 190px;
	left: 226px;
	top: 765px;
}
.masker{
	position: absolute;
	width: 220px;
	height: 220px;
	left: 610px;
	top: 748px;
}
.cuci{
	position: absolute;
	width: 200px;
	height: 200px;
	left: 1024px;
	top: 768px;
}
.donasi{
	position: absolute;
	width: 354px;
	height: 353px;
	left: 316px;
	top: 1291px;
}