{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Form Pertanyaan</title>
{% endblock meta %}

{% block content %}
  <div class="content mt-5 pt-5">
  {% if submitted %}
  <div class="make_center">
	<h1 class="title">Pertanyaan Anda Sudah Dikirim!</h1>
  	<a href="/faq" class="btn">Kembali ke FAQ</a>
  	<a href="{% url 'pertanyaan:list_asked' %}" class="btn">Daftar Pertanyaan</a>
  </div>
  
  {% else %}
  	<h1 class="title">Pertanyaan</h1>
  	<div class="form">
  		<form action="" method="POST">
			{% csrf_token %}
        <p>Nama:</p>
        <p>{{form.nama}}</p>
        <p>Email / No Handphone :</p>
				<p>{{ form.kontak }}</p>
        <p>Pertanyaan :</p>
        <p>{{form.pertanyaan}}</p>
        <input type="submit" value="Kirim" class="btn">
        <a href="{% url 'pertanyaan:list_asked' %}" class="btn">Daftar Pertanyaan</a>
		</form>
  	</div>
  {% endif %}
  </div>
{% endblock content %}