{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Daftar Pertanyaan</title>
{% endblock meta %}

{% block content %}
<div class="content mt-5 pt-5">
	<h1 class="title">Daftar Pertanyaan</h1>
	<div class="make_center">
  		{% for i in mylist %}
	    <p><b>{{i.nama}}</b></p>
	    <p>{{i.pertanyaan}}</p>
	    <br>
	    {% endfor %}
	    <a href="/faq" class="btn">Kembali ke FAQ</a>
	</div>
</div>
{% endblock content %}