{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- CSS Bootstrap -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  <!-- CSS -->
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  
  {% block meta %}
  {% endblock meta %}
</head>

<body>
  <nav class="navbar fixed-top navbar-expand-lg navbar-custom">
    <div class="container">
    <a class="navbar-brand" href="{% url 'main:home' %}">TK1</a>
    <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ml-auto">
        <!-- <a class="nav-item nav-link page-scroll" href="#home">Home <span class="sr-only">(current)</span></a> -->
        <a class="nav-item nav-link" href="{% url 'main:home' %}">Home</a>
        <a class="nav-item nav-link" href="#contact">Contact</a>
      </div>
    </div>
    </div>
  </nav>
  {% block content %}
  {% endblock content %}
  <br><br>
  <div class="footer">
    <div class="container">
      <div class="flex_footer">
        <div class="contact_us" id="contact">
          <p>Contact Us</p>
          <p><img src="{% static 'img/phone.png' %}">	+62 8213 9003 9865</p>
        </div>
        <div>
          <p><a href="/faq">FAQ</a></p>
          <p><a href="">Kritik & Saran</a></p>
        </div>
      </div>
        <p class="make_center">Copyright Kelompok D04 Reserved</p>
      </div>
    </div>
  
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
</body>

</html>