{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Form Donasi Tunai</title>
{% endblock meta %}

{% block content %}
  <div class="content mt-5 pt-5">
    <h1 class="title">Form Donasi Tunai<br></h1>
  	<div class="form">
  		<form action="" method="POST">
        <h2 class="content_list" style="text-align: center; color: #272343"><strong>Harap mentransfer donasi ke:<br></strong>Bank: ABC<br>No. Rekening: 0123456789<br></h2>
			{% csrf_token %}
        <p>Nama:</p>
        <p>{{form.nama}}</p>
        <p>Alamat:</p>
	    	<p>{{ form.alamat }}</p>
        <p>Email atau No. Handphone:</p>
        <p>{{form.kontak}}</p>
        <p>Jumlah Transfer</p>
        <p>{{form.jumlah}}</p>
        <p>{{form.anon}} Tampilkan sebagai donatur anonim</p>
        <br>
        <h2 class="content_list" style="text-align: center; color: #272343"><strong>Jika sudah mengisi form diatas, <br>
          mohon konfirmasi ke kontak<br>
          di bawah ini:<br></strong>Budi / +62 0812345678<br></h2>
        <input type="submit" value="Kirim" class="btn">
        <a href="{% url 'donasi1:list_donasitunai' %}" class="btn">Daftar Donatur</a>
		</form>
  	</div>
  </div>
{% endblock content %}