{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Daftar Donatur</title>
{% endblock meta %}

{% block content %}
<div class="content mt-5 pt-5">
	<h1 class="title">Daftar Donatur</h1>
	<table class="table">
		<tr>
			<th scope="col">Nama</th>
			<th scope="col">Jumlah Transfer</th>
		</tr>
		{% for item in donatur %}
		{% if item.anon %}
		<tr>
			<td>Anonim</td>
			<td>{{item.jumlah}}</td>
		</tr>
		{% else %}
		<tr>
			<td>{{item.nama}}</td>
			<td>{{item.jumlah}}</td>
		</tr>
		{% endif %}
		{% endfor %}
		<a href="/donasi_tunai" class="btn">Kembali ke Form Donasi Tunai</a>
	</table>
</div>
{% endblock content %}