{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>FAQ</title>
{% endblock meta %}

{% block content %}
<div class="content mt-5 pt-5">
	<h1 class="title">Frequently Asked Questions</h1>
	<ol class="order_list">
		<li>
			<p class="title_list">Apa itu Physical distancing?</p>
			<p class="content_list">Physical distancing adalah upaya yang dilakukan untuk mencegah penyebaran virus corona di masyarakat. Secara sederhana Physical Distancing adalah menjaga jarak lebih dari 1 meter dengan siapapun. Dengan kata lain: Tidak Berdekatan dan Tidak Berkumpul.
			</p>
		</li>
		<li>
			<p class="title_list">Apa kita perlu pakai masker?</p>
			<p class="content_list">Semua orang harus menggunakan masker kain jika terpaksa beraktivitas di luar rumah.	Kamu bisa menggunakan masker kain tiga lapis yang dapat dicuci dan digunakan berkali-kali, agar masker bedah dan N-95 tersedia bagi petugas medis dan mereka yang sakit.<br><br>
			Jangan lupa untuk mencuci masker kain menggunakan air sabun agar tetap bersih. Penggunaan masker yang keliru justru meningkatkan risiko penularan. <br><br>
			Jangan sentuh atau buka-tutup masker saat digunakan. Tetap jaga jarak minimal 1 meter dengan siapapun, jangan sentuh wajah dan cuci tangan pakai sabun sesering mungkin.
			</p>
		</li>
		<li>
			<p class="title_list">Apa gejala COVID-19?</p>
			<p class="content_list">Gejala COVID-19 yang umum adalah demam, rasa lelah dan batuk kering. Ada juga yang mengalami rasa nyeri dan sakit, hidung tersumbat, pilek, sakit tenggorokan atau diare. Ada juga yang tidak merasakan apa-apa, seperti orang sehat. <br><br>
			Jika kamu pernah berdekatan dengan orang yang memilliki gejala COVID-19 atau berpergian ke tempat terjangkiti, laporkan ke puskesmas terdekat dan lakukan monitoring mandiri. Bila dalam 1-14 hari kemudian mengalami gejala, lakukan isolasi diri.
			Karena orang yang merasa sehat pun bisa saja sedang kena COVID-19.<br><br>
			Kamu bisa hubungi 119 untuk bantuan lebih lanjut. Kalau kondisi memburuk, seperti sesak napas, kontak Rumah Sakit rujukan dan segera periksakan diri.
			</p>
		</li>
		<li>
			<p class="title_list">Apa itu COVID-19?</p>
			<p class="content_list"> COVID-19 adalah singkatan dari CoronaVirus Disease-2019.<br><br>
			COVID-19 adalah penyakit menular yang disebabkan oleh jenis coronavirus yang baru ditemukan. Ini merupakan virus baru dan penyakit yang tidak dikenal sebelum terjadi wabah di Wuhan, Tiongkok, bulan Desember 2019.
			</p>
		</li>
		<li>
			<p class="title_list">Situasi COVID-19 terkini di Indonesia</p>
			<p class="content_list">
			Untuk info peta sebaran kasus COVID-19 bisa klik tautan berikut <a href="https://covid19.go.id/peta-sebaran">https://covid19.go.id/peta-sebaran</a><br>
			Untuk info peta zonasi risiko daerah bisa klik tautan berikut <a href="https://covid19.go.id/peta-risiko">https://covid19.go.id/peta-risiko</a><br>
			Untuk info pemantauan kasus COVID-19 WNA bisa klik tautan berikut <a href="https://covid19.go.id/kasus-wna">https://covid19.go.id/kasus-wna</a>
			</p>
		</li>
	</ol>
	<br>
	<p><strong>Sumber : https://covid19.go.id/tanya-jawab</strong></p>
	<br>
	<h2 class="before_button">Tidak Menemukan Masalah?</h2>
	<a href="/asked_us" class="btn">Tanyakan Pada Kami</a>
</div>
{% endblock content %}